@page "/chatsList"

@inject IChatHttpClient httpClient
@inject NavigationManager navManager

<h3>Your chats</h3>

<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="UpdateChatsList">Refresh</MudButton>
<MudDivider />

@if (groupChats is null)
{
    <p style="margin: 15px"><em>We got a problem here</em></p>
}
else
{
@*     <MudTable Items="@groupChats" Hover="true" Striped="true" Class="mb-4">
        <HeaderContent>
            <MudTh>Name</MudTh>
        </HeaderContent>
        <RowTemplate Context="groupChat">
            <MudTd>
                <a @onclick="@(async () => await GroupClicked(groupChat.Id))">@groupChat.Name</a>
            </MudTd>
        </RowTemplate>
    </MudTable> *@

    <MudList Clickable="true">
        @foreach(var chat in groupChats)
        {
            <MudListItem @onclick="@(async () => await GroupClicked(chat.Id))">
                @chat.Name
            </MudListItem>
        }
    </MudList>
}

@code {
    IEnumerable<GroupChat> groupChats { get; set; } = new List<GroupChat>();

    protected override async Task OnInitializedAsync()
    {
        await UpdateChatsList();
    }

    private async Task UpdateChatsList()
    {
        groupChats = await httpClient.GetUserGroupChatsAsync();
    }

    private async Task GroupClicked(Guid chatId)
    {
        navManager.NavigateTo($"/groupChat/{Convert.ToString(chatId)}");
    }
}
