@page "/groupChat/{ChatId}"

@inject IChatHttpClient httpClient
@inject IDialogService DialogService
@inject ILocalStorageService localStorage
@inject NavigationManager navManager
@inject ChatHubService chatHubService
@inject IJSRuntime Js

<style>
    .limited {
        max-width: 200px
    }
</style>

<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="GetFullGroupChat" Style="margin: 30px">Refresh</MudButton>
<MudDivider />

@if(groupChat is null)
{
    <h3>We got a problem here</h3>
}
else
{
    <h3>@groupChat.Name</h3>
    <MudButton>Leave chat</MudButton>
    <MudButton>Delete chat</MudButton>
    <MudContainer>
    <MudGrid Spacing="1" Justify="Justify.FlexStart">
        <MudItem>
            <MudPaper Style="padding: 10px;">
                <h4>Members</h4>
                    <MudButton @onclick="OpenAddUserDialog" Variant="Variant.Filled" Color="Color.Primary">
                        Add user
                    </MudButton>
                    <MudButton @onclick="OpenRemoveUserDialog" Variant="Variant.Filled" Color="Color.Primary">
                        Delete user
                    </MudButton>
                    <div style="height: 30vh; overflow-y:auto">
                        <MudList Clickable="true" Style="padding: 10px">
                            @if (groupChat.GroupChatMembers != null)
                            {
                                @foreach (var member in groupChat.GroupChatMembers)
                                {
                                    <MudListItem>- @member.User.UserName</MudListItem>
                                }
                            }
                        </MudList>
                    </div>
            </MudPaper>
        </MudItem>
        <MudItem>
            <MudPaper Width="50vw" Style="padding: 10px" id="scroll-paper">
                    <h4>Messages</h4>
                    <div id="scroll-container" @onscroll="IsUsed ? OnScrolled : null"
                        style="overflow-y:auto; height: 45vh; display: flex; flex-direction:column-reverse">
                        <MudList Clickable="true" id="messages-list">
                            <MudListItem id="last-item"></MudListItem>
                            @if (groupChat.GroupChatMessages != null)
                            {
                                @foreach (var message in groupChat.GroupChatMessages)
                                {
                                    <MudListItem>
                                        <MudText>@message.SenderUser.UserName: @message.Text</MudText>
                                        <MudText>@message.SentTime.ToString("HH:mm")</MudText>
                                    </MudListItem>
                                    <MudDivider />
                                }
                            }
                        </MudList>
                    </div>
                    <MudTextField @bind-Value="@messageText" Label="Write your message"
                                  Variant="Variant.Filled" Class="limited"></MudTextField>
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="SendMessage">Send</MudButton>
            </MudPaper>
        </MudItem>
    </MudGrid>
    </MudContainer>
}

@code {
    [Parameter]
    public string ChatId { get; set; } = string.Empty;

    private int Page = 0;

    private GroupChat groupChat { get; set; } = new GroupChat();

    private string messageText { get; set; } = string.Empty;

    public string ChosenUserId { get; set; } = string.Empty;

    public bool IsUsed = true;

    private IJSObjectReference? module;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            module = await Js.InvokeAsync<IJSObjectReference>("import", "./Components/Pages/GroupChatContent.razor.js");
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await chatHubService.InitializeAsync(await localStorage.GetItemAsStringAsync("jwt"));
        await Setup();

        await ConnectToGroupChat();
        await GetFullGroupChat();
    }

    private async Task Setup()
    {
        await chatHubService.SubscribeAsync<GroupChatMessage>("ReceiveMessage", OnMessageReceived);
        await chatHubService.SubscribeAsync<IEnumerable<GroupChatMember>>("ReceiveMembers", OnMembersReceived);
        await chatHubService.SubscribeAsync<GroupChat>("ReceiveFullGroupChat", OnChatReceived);
        await chatHubService.SubscribeAsync<IEnumerable<string>>("RemoveMembers", OnMembersRemoved);
        await chatHubService.SubscribeAsync<IEnumerable<GroupChatMessage>>("ReceiveGroupChatMessages", OnMessageListReceived);

        await chatHubService.StartAsync();
    }

    public async ValueTask DisposeAsync()
    {
        await chatHubService.UnsubscribeAllAsync();

        chatHubService.Dispose();
    }
}
