@page "/groupChat/{ChatId}"

@inject IChatHttpClient httpClient
@inject IDialogService DialogService
@inject NavigationManager navManager
@inject ILocalStorageService localStorage
@inject ChatHubService chatHubService


<style>
    .limited {
        max-width: 200px
    }
</style>

<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="ConnectToGroupChat" Style="margin: 30px">Refresh</MudButton>
<MudDivider />

@if(groupChat is null)
{
    <h3>We got a problem here</h3>
}
else
{
    <h3>@groupChat.Name</h3>
    <MudContainer>
    <MudGrid>
            <MudItem xs="12" md="3">
            <MudPaper Style="padding: 10px">
                <h4>Members</h4>
                    <MudButton @onclick="OpenAddUserDialog" Variant="Variant.Filled" Color="Color.Primary">
                        Add user
                    </MudButton>
                <MudList Clickable="true">
                        @if (groupChat.GroupChatMembers != null)
                        {
                            @foreach (var member in groupChat.GroupChatMembers)
                            {
                                <MudListItem Style="margin: 20px">- @member.User.UserName</MudListItem>
                            }
                        }
                    </MudList>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" md="9">
            <MudPaper Style="padding: 10px">
                <h4>Messages</h4>
                    <div style="height: 300px; overflow-y:scroll">
                        <MudList Clickable="true" id="messages-list">
                            @if (groupChat.GroupChatMessages != null)
                            {
                                @foreach (var message in groupChat.GroupChatMessages)
                                {
                                    <MudListItem>
                                        <MudText>@message.SenderUser.UserName: @message.Text</MudText>
                                        <MudText>@message.SentTime.ToString("HH:mm")</MudText>
                                    </MudListItem>
                                    <MudDivider />
                                }
                            }
                        </MudList>
                    </div>
                    <MudTextField @bind-Value="@messageText" Label="Write your message"
                                  Variant="Variant.Filled" Class="limited"></MudTextField>
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="SendMessage">Send</MudButton>
            </MudPaper>
        </MudItem>
    </MudGrid>
    </MudContainer>
}



@code {
    private string messageText { get; set; } = string.Empty;
    private GroupChat groupChat { get; set; } = new GroupChat();

    [Parameter]
    public string ChatId { get; set; } = string.Empty;

    public string AddUserId { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await chatHubService.InitializeAsync(await localStorage.GetItemAsStringAsync("jwt"));

        await Connect();
        await ConnectToGroupChat();
    }


    private async Task OpenAddUserDialog()
    {
        var parameters = new DialogParameters { ["UserId"] = AddUserId };
        DialogOptions closeOnEscapeKey = new DialogOptions() { CloseOnEscapeKey = true };

        var dialog = DialogService.Show<AddUserDialog>("Enter user id", options: closeOnEscapeKey, parameters: parameters);

        var result = await dialog.Result;

        if (!result.Canceled)
        {
            string userToAddId = Convert.ToString(result.Data);

            await AddUserToChat(userToAddId);
        }
    }


    private async Task Connect()
    {
        await chatHubService.SubscribeAsync<GroupChatMessage>("ReceiveMessage", OnMessageReceived);
        await chatHubService.SubscribeAsync<GroupChatMember>("ReceiveMember", OnMemberReceived);
        await chatHubService.SubscribeAsync<GroupChat>("ReceiveFullGroupChat", OnChatReceived);

        await chatHubService.StartAsync();
    }

    private async Task ConnectToGroupChat()
    {
        await chatHubService.ConnectToGroupChatAsync(ChatId);
    }

    private async Task SendMessage()
    {
        await chatHubService.SendMessageAsync(ChatId, new SendMessageToGroupChatRequest() { Text = messageText });
        messageText = string.Empty;
    }

    private async Task AddUserToChat(string userId)
    {
        await chatHubService.AddUsersToGroupChatAsync(ChatId, new AddUsersToGroupChatRequest { Users = new List<string> { userId } });
    }


    private void OnChatReceived(GroupChat receivedGroupChat)
    {
        InvokeAsync(() =>
        {
            groupChat = receivedGroupChat;

            StateHasChanged();
        });
    }

    private void OnMessageReceived(GroupChatMessage message)
    {
        InvokeAsync(() =>
        {
            if (groupChat != null && groupChat.GroupChatMessages != null)
            {
                groupChat.GroupChatMessages.Add(message);
            }
            StateHasChanged();
        });
    }

    private void OnMemberReceived(GroupChatMember member)
    {
        InvokeAsync(() =>
        {
            if (groupChat != null && groupChat.GroupChatMembers != null)
            {
                groupChat.GroupChatMembers.Add(member);
            }
            StateHasChanged();
        });
    }


    public async ValueTask DisposeAsync()
    {
        await chatHubService.UnsubscribeAsync<GroupChatMessage>("ReceiveMessage", OnMessageReceived);
        await chatHubService.UnsubscribeAsync<GroupChatMember>("ReceiveMember", OnMemberReceived);
        await chatHubService.UnsubscribeAsync<GroupChat>("ReceiveFullGroupChat", OnChatReceived);

        await chatHubService.StopAsync();
    }
}
