@page "/groupChat/{chatId}"

@inject IChatHttpClient httpClient

<style>
    .limited {
        max-width: 200px
    }
</style>

<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="UpdateChat" Style="margin: 30px">Refresh</MudButton>
<MudDivider />

@if(groupChat is null)
{
    <h3>Loading...</h3>
}
else
{
    <h3>@groupChat.Name</h3>

    <MudContainer>
    <MudGrid>
        <MudItem xs="12" md="3">
            <MudPaper Style="padding: 10px">
                <h4>Members</h4>
                <MudList Clickable="true">
                    @foreach (var member in groupChat.GroupChatMembers)
                    {
                        <MudListItem>- @member.User.UserName</MudListItem>
                    }
                </MudList>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" md="9">
            <MudPaper Style="padding: 10px">
                <h4>Messages</h4>
                    <div style="height: 300px; overflow-y:scroll">
                        <MudList Clickable="true" id="messages-list">
                            @foreach (var message in groupChat.GroupChatMessages)
                            {
                                <MudListItem>
                                    <MudText>@message.SenderUser.UserName: @message.Text</MudText>
                                    <MudText>@message.SentTime.ToString("HH:mm:ss")</MudText>
                                </MudListItem>
                                <MudDivider />
                            }
                        </MudList>
                    </div>
                    <MudTextField @bind-Value="@messageText" Label="Write your message"
                                  Variant="Variant.Filled" Class="limited"></MudTextField>
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="SendMessage">Send</MudButton>
            </MudPaper>
        </MudItem>
    </MudGrid>
    </MudContainer>
}



@code {
    private string messageText { get; set; }
    private GroupChat groupChat { get; set; }

    [Parameter]
    public string ChatId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await UpdateChat();
    }

    private async Task UpdateChat()
    {
        groupChat = await httpClient.GetFullGroupChatAsync(ChatId);
    }

    private async Task SendMessage()
    {
        await httpClient.SendMessageToGroupChatAsync(ChatId, new SendMessageToGroupChatRequest() { Text = messageText });
        messageText = "";
        await UpdateChat();
    }
}
