@page "/groupChat/{ChatId}"

@inject IChatHttpClient httpClient
@inject IDialogService DialogService
@inject ILocalStorageService localStorage
@inject NavigationManager navManager
@inject ChatHubService chatHubService


<style>
    .limited {
        max-width: 200px
    }
</style>

<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="ConnectToGroupChat" Style="margin: 30px">Refresh</MudButton>
<MudDivider />

@if(groupChat is null)
{
    <h3>We got a problem here</h3>
}
else
{
    <h3>@groupChat.Name</h3>
    <MudContainer>
    <MudGrid>
            <MudItem xs="12" md="3">
            <MudPaper Style="padding: 10px">
                <h4>Members</h4>
                    <MudButton @onclick="OpenAddUserDialog" Variant="Variant.Filled" Color="Color.Primary">
                        Add user
                    </MudButton>
                    <MudButton @onclick="OpenRemoveUserDialog" Variant="Variant.Filled" Color="Color.Primary">
                        Delete user
                    </MudButton>
                <MudList Clickable="true">
                        @if (groupChat.GroupChatMembers != null)
                        {
                            @foreach (var member in groupChat.GroupChatMembers)
                            {
                                <MudListItem Style="margin: 20px">- @member.User.UserName</MudListItem>
                            }
                        }
                    </MudList>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" md="9">
            <MudPaper Style="padding: 10px">
                <h4>Messages</h4>
                    <div style="height: 300px; overflow-y:scroll">
                        <MudList Clickable="true" id="messages-list">
                            @if (groupChat.GroupChatMessages != null)
                            {
                                @foreach (var message in groupChat.GroupChatMessages)
                                {
                                    <MudListItem>
                                        <MudText>@message.SenderUser.UserName: @message.Text</MudText>
                                        <MudText>@message.SentTime.ToString("HH:mm")</MudText>
                                    </MudListItem>
                                    <MudDivider />
                                }
                            }
                        </MudList>
                    </div>
                    <MudTextField @bind-Value="@messageText" Label="Write your message"
                                  Variant="Variant.Filled" Class="limited"></MudTextField>
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="SendMessage">Send</MudButton>
            </MudPaper>
        </MudItem>
    </MudGrid>
    </MudContainer>
}



@code {
    [Parameter]
    public string ChatId { get; set; } = string.Empty;

    private GroupChat groupChat { get; set; } = new GroupChat();

    private string messageText { get; set; } = string.Empty;

    public string ChosenUserId { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await chatHubService.InitializeAsync(await localStorage.GetItemAsStringAsync("jwt"));

        await Setup();
        await ConnectToGroupChat();
    }

    private async Task Setup()
    {
        await chatHubService.SubscribeAsync<GroupChatMessage>("ReceiveMessage", OnMessageReceived);
        await chatHubService.SubscribeAsync<IEnumerable<GroupChatMember>>("ReceiveMembers", OnMembersReceived);
        await chatHubService.SubscribeAsync<GroupChat>("ReceiveFullGroupChat", OnChatReceived);
        await chatHubService.SubscribeAsync<IEnumerable<string>>("RemoveMembers", OnMembersRemoved);

        await chatHubService.StartAsync();
    }

    public async ValueTask DisposeAsync()
    {
        chatHubService.Dispose();
    }
}
