@page "/usersList"

@inject IUserHttpClient httpClient
@using System.Linq.Expressions

<h3>UsersList</h3>

<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="UpdateUsers">Refresh</MudButton>

@if (users is null || !users.Any())
{
    <p><em>Loading...</em></p>
}
else
{
    <MudSelect Label="Order type" @bind-Value="usersFilterModel.SortOrder">
        <MudSelectItem Value="@("Ascending")">Ascending</MudSelectItem>
        <MudSelectItem Value="@("Descending")">Descending</MudSelectItem>
    </MudSelect>

    <MudSelect Label="Order by" @bind-Value="usersFilterModel.OrderBy">
        <MudSelectItem Value="@("Id")">Id</MudSelectItem>
        <MudSelectItem Value="@("UserName")">Username</MudSelectItem>
        <MudSelectItem Value="@("Email")">Email</MudSelectItem>
    </MudSelect>

    <MudDataGrid T="User" Items="@users" Hideable="true">
        <Columns>
            <PropertyColumn Property="x => x.Id" Title="Id" />
            <PropertyColumn Property="x => x.UserName" Title="Username" />
            <PropertyColumn Property="x => x.Email" Title="Email" />
        </Columns>
    </MudDataGrid>
}

@code {
    private IEnumerable<User> users { get; set; } = new List<User>();

    private UsersFilterModel usersFilterModel = new UsersFilterModel();

    private class UsersFilterModel
    {
        public int NumberOfUsers { get; set; } = 20;
        public int Page { get; set; } = 0;
        public string ValueContains { get; set; } = "";
        public string SortOrder { get; set; } = "Ascending";
        public string OrderBy { get; set; }
    }

    protected override async Task OnInitializedAsync()
    {
        await UpdateUsers();
    }

    private async Task UpdateUsers()
    {
        users = await httpClient.GetUsersAsync(new GetUsersRequest
        {
            NumberOfUsers = usersFilterModel.NumberOfUsers,
            Page = usersFilterModel.Page,
            ValueContains = usersFilterModel.ValueContains,
            SortOrder = usersFilterModel.SortOrder
        });
        // _users = new List<User>
        // {
        //     new User { Id = "1", Email = "user1@gmail.com", UserName = "user1" },
        //     new User { Id = "2", Email = "ser@gmail.com", UserName = "user2" },
        //     new User { Id = "3", Email = "user3@gmail.com", UserName = "user3" },
        //     new User { Id = "4", Email = "test@gmail.com", UserName = "user4" },
        // };
    }
}
